@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overscroll-behavior: none;
  overflow-x: hidden;
}

canvas {
  touch-action: none;
}

.content-container {
  position: relative;
  z-index: 10;
}

.markdown-content h1 {
  @apply text-3xl font-bold mb-4;
}

.markdown-content h2 {
  @apply text-2xl font-bold mb-3;
}

.markdown-content p {
  @apply mb-4;
}

.markdown-content ul {
  @apply list-disc pl-5 mb-4;
}

.markdown-content img {
  @apply my-4 rounded-md;
}

.project-gallery {
  @apply cursor-pointer transition-all duration-300;
}

.project-gallery:hover {
  @apply scale-105;
}
